click
einops
gradio
huggingface_hub
hydra-core
jaxtyping
librosa
matplotlib
pyworld
numpy==2.2.6
omegaconf
Pillow
praat-parselmouth
pyloudnorm
PyYAML
pytorch_lightning
resampy
schedulefree
scipy
soundfile
tensorboard
thop
torchdiffeq
tqdm
transformers
wandb
x_transformers