click
einops
gradio
huggingface_hub
hydra-core
jaxtyping
librosa
matplotlib
pyworld
numpy
omegaconf
Pillow
praat-parselmouth
pyloudnorm
PyYAML
lightning
resampy
schedulefree
scipy
soundfile
tensorboard
thop
torchdiffeq
tqdm
transformers
x_transformers
